*.pyc
*test*
.coverage*
*.errlog

lib/__pycache__
pseudo-assemblies/
job-scripts/
scripts/
example-data/example-out*/
*.code-workspace
.vscode/
simulations/

regions-test/PSEUDOIT_OUTPUT_BIK/*

samtools.*.tmp.*.bam